HH/Web References/WSRFID/WS_RFID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebService_tse_RFID/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://WebService_tse_RFID/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebService_tse_RFID/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_user" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComprobarUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CajasDeSede">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_sede" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_paquete" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CajasDeSedeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CajasDeSedeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarRFID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ComprobarRFIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComprobarRFIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sedeLogistica">
        <s:complexType />
      </s:element>
      <s:element name="sedeLogisticaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sedeLogisticaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ComprobarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ComprobarUsuario" />
  </wsdl:message>
  <wsdl:message name="ComprobarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ComprobarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CajasDeSedeSoapIn">
    <wsdl:part name="parameters" element="tns:CajasDeSede" />
  </wsdl:message>
  <wsdl:message name="CajasDeSedeSoapOut">
    <wsdl:part name="parameters" element="tns:CajasDeSedeResponse" />
  </wsdl:message>
  <wsdl:message name="ComprobarRFIDSoapIn">
    <wsdl:part name="parameters" element="tns:ComprobarRFID" />
  </wsdl:message>
  <wsdl:message name="ComprobarRFIDSoapOut">
    <wsdl:part name="parameters" element="tns:ComprobarRFIDResponse" />
  </wsdl:message>
  <wsdl:message name="sedeLogisticaSoapIn">
    <wsdl:part name="parameters" element="tns:sedeLogistica" />
  </wsdl:message>
  <wsdl:message name="sedeLogisticaSoapOut">
    <wsdl:part name="parameters" element="tns:sedeLogisticaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarUsuario">
      <wsdl:input message="tns:ComprobarUsuarioSoapIn" />
      <wsdl:output message="tns:ComprobarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CajasDeSede">
      <wsdl:input message="tns:CajasDeSedeSoapIn" />
      <wsdl:output message="tns:CajasDeSedeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ComprobarRFID">
      <wsdl:input message="tns:ComprobarRFIDSoapIn" />
      <wsdl:output message="tns:ComprobarRFIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sedeLogistica">
      <wsdl:input message="tns:sedeLogisticaSoapIn" />
      <wsdl:output message="tns:sedeLogisticaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://WebService_tse_RFID/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarUsuario">
      <soap:operation soapAction="http://WebService_tse_RFID/ComprobarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CajasDeSede">
      <soap:operation soapAction="http://WebService_tse_RFID/CajasDeSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarRFID">
      <soap:operation soapAction="http://WebService_tse_RFID/ComprobarRFID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sedeLogistica">
      <soap:operation soapAction="http://WebService_tse_RFID/sedeLogistica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://WebService_tse_RFID/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarUsuario">
      <soap12:operation soapAction="http://WebService_tse_RFID/ComprobarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CajasDeSede">
      <soap12:operation soapAction="http://WebService_tse_RFID/CajasDeSede" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComprobarRFID">
      <soap12:operation soapAction="http://WebService_tse_RFID/ComprobarRFID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sedeLogistica">
      <soap12:operation soapAction="http://WebService_tse_RFID/sedeLogistica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:50633/WS_RFID.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:50633/WS_RFID.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>